// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: black;
  background-color: white;
  text-decoration: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.47;
}

.hidden{
  display: none;
}

$primary: #0aab6b;
$gray: #e8eceb;

.button{
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 2px $primary;
  background-color: white;
  color: $primary;
  .text{
    color: $primary;
    background-color: white;
    font-weight: 700;
  }
  .icon{
    width: 20px;
    height: 20px;
    color: white;
    background-color: $primary;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }
  &.inverse{
    border: solid 2px white;
    background-color: $primary;
    color: white;
    .text{
      color: white;
      background-color: $primary;
      font-weight: 700;
    }
    .icon{
      color: $primary;
      background-color: white;
    }
  }
  &.disabled{
    background: white;
    color: lightgray;
    border: solid 2px lightGray;
    .text{
      color: lightgray;
      background-color: white;
      font-weight: 700;
    }
    .icon{
      color: white;
      background-color: lightgray;
    }
  }
}
